@import '../assets/styles/mixins.scss';
@import '../assets/styles/variables.scss';

.search-select-wrapper {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;
    padding: 30px 0;

    // .party-name-label,
    .add-party-text {
        display: inline-block;
    }
    
    .avatar-image {
        width: 24px;
        height: 24px;
        margin-right: 20px;
        vertical-align: middle;
    }

    .add-party-wrapper {
        .add-party-text {
            cursor: pointer;
            @include font-properties($color: #4964DA);
        }
    }

    .seach-parties-wrapper {
        width: 500px;
        .select-avatar {
            vertical-align: top;
            margin-top: 17px;
        }
        .party-name-input {
            width: 80%;
            border: none;
            border-bottom: 1px solid;
            outline: none;
            @include font-properties($color: $defaultText);
        }
        .input-wrapper {
            width: 80%;
            display: inline-block;
            label {
                display: inline-block;
                transition: all .2s linear;
                transform-origin: left;
                @include font-properties($color: $defaultText);
                &.party-name-label-default { transform: translateY(100%) scale(1); }
                &.party-name-label { transform: translateY(0) scale(.7); }
            }
        }
    }
    
    .searched-list-wrapper {
        width: 80%;
        margin-top: 5px;
        box-sizing: border-box;
        box-shadow: 0px 3px 12px -2px #000000;
        .search-list-row {
            padding: 5px 10px;
            .title {
                margin-bottom: 6px;
                .name {
                    margin-right: 5px;
                    @include font-properties($color: $defaultText);
                }
                .alias-name {
                    @include font-properties($font-size: 11px, $font-style: italic, $color: $defaultText);
                }
            }
            .address {
                margin: 0;
                @include font-properties($font-size: 12px, $color: $defaultText);
            }
            &:last-of-type { padding-bottom: 10px; }
            &:hover { background: #d7dff3; }
        }
    }

}

